.map-comp-wrap{
  width: 100vw;
  position: relative;
  .map-dom-wrap{
    width: 100%;
    height: 100%;
  }
  .current-position-btn{
    position: absolute;
    z-index: 1;
    right: 6%;
    bottom: 20%;
    line-height: 0;
    padding: 8px;
    border-radius: 50%;
    color: #525252;
    background-color: rgb(255 255 255 / 80%);
  }
}

